#experience {
    text-align: center;
    background: #f2f2f5;
    
}

.experience-body {
    margin-top: 2em;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.job-btn {
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    line-height: 1;
    outline-color: hsl(0, 0%, 0%);
    font-family: inherit;
    font-size: clamp(1em, 5vh, 1.25em);
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 0.5em;
}

.active-btn {
    color: #495464;
    border-bottom: 2px solid #495464;
}

.position {
    font-weight: normal;
    font-size: 1.25em;
}

.job {
    margin-bottom: 0.5em;
    width: 100%;
}

.job-desc {
    display: flex;
}

.right {
    margin-right: 1em;
    color: #495464;
    font-size: 1.25em;
}

.company {
    color: #FFF;
    background-color: #BBBFCA;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    width: auto;
    display: inline-block
}

.date {
    color: hsl(0, 0%, 30%);
}


@media only screen and (min-width: 700px) {
    .experience-body {
        width: 60%;
    }
}

@media only screen and (min-width: 1000px) { 
    .job-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .job-btn{
        padding: 0 1em;
        margin-bottom: 1em;
    }

    .active-btn {
        border-left: 2px solid #495464;
        border-bottom: 0;
    }

    .job-btn-container {
        margin: 2em;
    }

    .experience-body {
        margin: 0;
        display: inline-block;
    }
}