.education-body {
    text-align: left;
    padding: 0.5em;
    border: 1px solid #dcd9d9;
}

.education-body h2{
    font-size: 1.25em;
}

.education-body p {
    font-size: 1em;
}

@media only screen and (min-width: 760px) {
    .education-body {
        width: 720px;
        margin-left: auto;
        margin-right:auto;
    }

    .education-body h2, .education-date {
        display: inline;
    }

    .education-date {
        margin-left: 14em;
    }
}